#header1-1h H1 {
  font-size: 100px;
}
#header1-1h P {
  font-size: 36px;
  text-align: center;
}
#header4-1i H1 {
  color: #475577;
}
#header4-1i P {
  color: #4d5c61;
  text-align: left;
  font-size: 19px;
}
#header4-1l P {
  color: #4b5b60;
  font-size: 19px;
}
#header4-1m P {
  color: #4d5c61;
  font-size: 19px;
}
#content1-1o P {
  color: #4b5b60;
  font-size: 19px;
}
#slider-1p H1 {
  font-size: 60px;
  text-align: left;
  color: #ffffff;
}
#slider-1p P {
  color: #ffffff;
  text-align: left;
}
#content1-1q P {
  color: #4b5b60;
  font-size: 19px;
}
#image2-1s SMALL {
  color: #cccccc;
  font-size: 17px;
}
#slider-1t H1 {
  font-size: 60px;
  text-align: left;
}
#slider-1t P {
  text-align: left;
}
#content1-1v P {
  color: #4b5b60;
  font-size: 19px;
}
#msg-box4-1w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#msg-box4-1w .mbr-article P {
  font-size: 20px;
}
#slider-1x H1 {
  color: #ffffff;
  font-size: 60px;
}
#slider-1x P {
  color: #ffffff;
  text-align: left;
}
#header3-1z H3 {
  font-size: 72px;
  text-align: center;
}
#msg-box4-20 .mbr-header__text {
  color: #4b5b60;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .mbr-article P {
  color: #4c6972;
  font-size: 25px;
}
#content1-22 P {
  color: #4c6972;
  font-size: 19px;
}
#content1-24 P {
  color: #4c6972;
  font-size: 19px;
}
#header3-25 H3 {
  font-size: 72px;
  text-align: center;
}
#header3-25 P {
  text-align: center;
  font-size: 60px;
  color: #252525;
}
#content1-27 P {
  color: #4b5b60;
  font-size: 19px;
}
#content1-29 P {
  color: #4b5b60;
  font-size: 19px;
}
#content1-2b DIV {
  color: #4b5b60;
}
#content1-2b P {
  font-size: 19px;
}
#content1-2f P {
  color: #4b5b60;
  font-size: 19px;
}
#content1-2h P {
  color: #4b5b60;
  font-size: 19px;
}
#footer1-2i P {
  text-align: center;
}
